:root {
  --primary: #74c69d;
  --secondary: #95d5b2;
  --btn-primary: #40916c;
  --btn-secondary: #40916c;
  --btn-hover: #76bd8f;
  --background: #f4fef6;
  --black: #222222;
  --white: #f9f9f9;
  --shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

body {
  background: var(--background);
}

.Header {
  background-color: var(--white);
  box-shadow: var(--shadow);
  height: 70px;
}

.nav {
  height: 3em;
}

.Login {
  background: var(--btn-primary);
  color: var(--white);
  border-radius: 50%;
  /* height: 35px; */
  height: 2.7rem;
  width: 2.7rem;
  border: none;
  box-shadow: 2px 2px 2px 0px var(--btn-hover);
}

.Login:hover,
.btn-search:hover {
  background: linear-gradient(
    310deg,
    rgba(77, 182, 128, 1) 0%,
    rgba(12, 171, 81, 1) 100%
  ) !important;
  border: none;
  color: #f9f9f9;
}

a {
  text-decoration: none !important;
}

.Menu {
  margin-top: -1.4rem;
}

.main-view {
  min-height: calc(100vh - 6.1rem);
}

.principal {
  background-image: url("./assets/img/sustentability-bg.jpg");
  min-height: 90vh;
  margin: 0px !important;
  padding: 0px !important;
  background-repeat: no-repeat;
  background-size: 100vw 90vh;
  background-position: 98% center;
}

.disabled-link {
  pointer-events: none;
}

.Search {
  width: 75%;
  border-radius: 50px !important;
  background-color: var(--white);
  margin: 24px 0px;
  border-bottom: 1px solid var(--black) !important;
}

.btn-category {
  height: 4.3rem;
  border: none !important;
  border-radius: 50px !important;
  padding: 0px 52px;
  background-color: var(--white);
}

.btn-search {
  height: 3rem;
  width: 3rem;
  border: none !important;
  background-color: var(--btn-primary);
  border-radius: 50px;
  /* margin: 15px; */
  box-shadow: var(--shadow);
  /* margin: 8px; */
  color: var(--white);
  box-shadow: 0px 5px 5px 0px #40916c;
}

.btn-search.disabled-link {
  background-color: var(--btn-hover);
  box-shadow: 0px 5px 5px 0px var(--btn-hover);
}

.btn-search:hover {
  background: linear-gradient(
    310deg,
    rgba(77, 182, 128, 1) 0%,
    rgba(12, 171, 81, 1) 100%
  ) !important;
  cursor: pointer;
}

input[type="search"] {
  background-color: var(--white);
  height: 4.3rem;
  border: none;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 98% center;
  border-radius: 50px !important;
}

input[type="search"]:hover,
.btn-category:hover,
.highlight:hover {
  background-color: #22222210;
  cursor: pointer;
}

input[type="search"]:focus,
.btn-search:focus,
.btn-category:focus {
  border: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.Logo {
  height: 2.5em;
}

.highlights-group {
  background-color: var(--primary);
  min-width: 300px;
}

.highlight {
  max-width: 22.5rem;
  box-shadow: var(--shadow);
}

.highlight > img,
.card-place-img {
  height: 18rem;
  box-shadow: var(--shadow);
}

.highlight > .card-body {
  background-color: var(--white);
  padding: 0px auto !important;
  color: var(--black);
}

.highlight > .card-body > .headline {
  font-size-adjust: 20px;
  font-weight: 700;
  margin: 0px;
}

.highlight > .card-body > .subheadline {
  font-size: 15px;
  color: #b8b8b8;
  margin: 0px;
}

.info-img {
  max-width: 8em;
}

.info-card {
  color: var(--black);
}

.list-group {
  box-shadow: var(--shadow);
  background-color: var(--white);
}

.list-group-item:hover,
.info-card:hover {
  background-color: var(--secondary);
  color: var(--white) !important;
}

.local-card {
  height: 20rem;
  box-shadow: var(--shadow);
}

.local-dates {
  font-size: 12px;
}

.Footer {
  background-color: var(--primary);
}

.footer-icons {
  color: var(--btn-primary);
}

.footer-message {
  color: var(--white);
}
