:root {
	--primary: #40916c;
	--secondary: #95d5b2;
	--btn-primary: #40916c;
	--btn-secondary: #40916c;
	--btn-hover: #76bd8f;
	--background: #f4fef6;
	--black: #222222;
	--white: #f9f9f9;
	--shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

body {
	background: var(--background);
	display: grid;
	grid-template-rows: 100vh;
	grid-template-columns: 1fr;
	grid-template-areas: "principal";
}

.Header {
	background-color: var(--white);
	box-shadow: var(--shadow);
	/* height: 70px; */
	/* grid-area: cabecalho; */
	z-index: 2;
	box-shadow: 0px 1px 9px -2px rgba(0, 0, 0, 0.75);
}

.username {
	font-size: 18px;
	margin-right: 8px;
	color: #37c77f;
}

.menu-button {
	font-size: 40px;
}
.menu-button svg {
	color: #37c77f;
}

.title {
	margin: 24px;
	color: var(--primary);
	text-shadow: 2px 2px var(--secondary);
	font-size: 48px;
}

.nav {
	height: 3em;
}

.Login {
	background: var(--btn-primary);
	color: var(--white);
	border-radius: 50%;
	/* height: 35px; */
	height: 2.7rem;
	width: 2.7rem;
	border: none;
	box-shadow: 2px 2px 2px 0px var(--btn-hover);
}

.btn-save {
	background: var(--btn-primary);
	color: var(--white);
	border: none;
	padding: 8px 40px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px 0px var(--btn-hover);
}

.Login:hover,
.btn-save:hover {
	background: linear-gradient(
		310deg,
		rgba(77, 182, 128, 1) 0%,
		rgba(12, 171, 81, 1) 100%
	) !important;
	border: none;
	color: var(--white);
}

a {
	text-decoration: none !important;
}

.main-view {
	grid-area: principal;
	min-height: calc(100vh - 6.1rem);
}

.menu-nav-tabs {
	position: absolute;
	top: 10%;
	z-index: 9999999;
	border: none !important;
	background-color: #08080800 !important;
	width: 500px;
}

.menu-nav-tab {
	display: flex;
	justify-content: center;

	color: #222;
	padding: 8px;
}

.menu-nav-tab:hover {
	border-bottom: #40916c solid 2px;
	color: #40916d;
}

.principal {
	/* content: ""; */
	background-image: url("./assets/img/sustentability-bg.jpg");
	background-color: #222;
	background-size: cover;
	min-height: 100vh;
	padding: 0px !important;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #080808 !important;
	font-family: "Poppins";
	background-color: #080808;
	height: 100vh;
	width: 100vw !important;
}

.principal .headline .subheadline {
	background: linear-gradient(116.8deg, #104403 -41.65%, #00ff3a 99.75%);
	background: #222;
	font-size: 18px;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	font-family: "Poppins";
}
.principal .headline {
	background: linear-gradient(116.8deg, #28774f -41.65%, #10812b 99.75%);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Poppins";
}

.view-cards {
	margin: 80px 300px !important;
}

@media (max-width: 420px) {
	.hidden-field {
		display: none !important;
	}
}

@media (max-width: 800px) {
	.username {
		display: none;
	}
	.menu-button {
		color: #080808 !important;
	}

	.menu-nav-tabs {
		width: 100%;
	}
	.menu-nav-tab {
		width: 100%;
		font-size: 12px;
	}

	.principal .headline {
		font-size: 70px;
	}

	.principal .headline .subheadline {
		font-size: 12px;
	}
}
